requests~=2.32.5
Telethon~=1.42.0
colorama~=0.4.6
telebot~=0.0.5
pyTelegramBotAPI~=4.29.1
dotenv~=0.9.9
python-dotenv~=1.2.1
fastapi~=0.121.3
uvicorn~=0.38.0
pydantic~=2.12.4
psycopg2~=2.9.11
SQLAlchemy~=2.0.45
aiogram~=3.24.0
starlette~=0.50.0